[Desktop Entry]
Name=Shapes2

X-KDE-PluginInfo-Author=meet
X-KDE-PluginInfo-Email=noreply
X-KDE-PluginInfo-Name=Shapes2
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=Custom
X-KDE-PluginInfo-EnabledByDefault=true
